* {
    box-sizing: border-box;

  }

  html {
    scroll-behavior: smooth; 
    background-color: rgb(41, 41, 41);
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    color: rgb(255, 213, 0);
    flex-direction: column;
  }

  h1 {
    font-size: 3em;
    margin: 20px 0px;
  }

  .section-title {
    color: yellow;
  }

  .container {
    background-color: #000;
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid rgb(37, 37, 37);
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .left-column {
    padding: 25px;
    width: 40%;
    background-color: rgb(31, 31, 31);
  }

  .right-column {
    padding: 25px;
    width: 60%;
    background-color: #000;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }

  a {
    color: yellow;
    text-decoration: none;  
    transition: color 0.5s;
  }
  a:hover {
    color: #4e4f02;
  }


  .avatar {
    height: 200px;
  }
  

  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }