* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
    background-color: rgb(104, 104, 104);
  }

  body {
    font-family: 'Roboto Mono', monospace;
    color: rgb(14, 165, 0);
  }

  h1 {
    font-size: 3em;
    margin: 0px;
  }

  pre {
    background-color: rgb(42, 42, 42);
    margin-left: -100px;
  }

  .section-title {
    color: yellow;
  }

  .container {
    background-color: #000;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid rgb(31, 31, 31);
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .left-column {
    padding: 25px;
    width: 38%;
    background-color: rgb(31, 31, 31);
  }

  .right-column {
    padding: 25px;
    width: 62%;
    background-color: #000;
  }

  .nav-list {
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: yellow;
  }

  .nav-link:hover {
    color: rgb(14, 165, 0);
  }

  a {
    color: rgb(14, 165, 0);
    text-decoration: none;  
    transition: color 0.5s;
  }
  a:hover {
    color: yellow;
  }

  .avatar {
    height: 200px;
  }

  .projects-image {
    height: 150px;
  }

  .footer-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .footer-item {
    display: flex;
    list-style: none;
    line-height: 50px;
    transition: .3s;
  }